.git/
.gitignore

venv/
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.mypy_cache/

allure-results/
allure-report/
locust-reports/
videos/
htmlcov/
.coverage
coverage.xml

*.db
game.db

.idea/
.vscode/

*.md
!README.md

.github/